{% extends 'layout.app' %}


{% block content %}
Index des Pièces

{% for piece in pieces %}
    <h1><a href="{{ route('piece.show',piece)  }}">
    	{{ piece.ref_piece }}
    </a></h1>

    <p>{{ piece.description }}</p>

    <p> <a class="btn btn-primary" href="{{route('piece.edit',piece)}}"> EDIT</a> </p>
{% endfor %}

{% endblock %}
