<!DOCTYPE>
<html>

<head>
  <!-- Styles -->
  <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>

<body>
      <h1>
        Bienvenue sur l'appliColis !
      </h1>

    <hr>
        {% block content %}
        {% endblock %}
    <hr>

    <footer>
      <p>Charpentes Saint-Clair</p>
    </footer>

</body>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}"></script>
</html>
