{% extends 'layout.app' %}

{% block content %}
  {% for chartjs in chartjs_s %}
      <div class="row">

        <div class="col-md-5 col-md-offset-1">
          {{ chartjs.render() | raw }}
        </div>
        
    </div>

  {% endfor %}
{% endblock %}
