{% extends 'layout.app' %}


{% block content %}

{{ debug() }}
Ceci est la vue des affaires.

{% for affaire in affaires %}
    <h1><a href="{{ route('affaire.show',affaire)  }}">
    	{{ affaire.ref_affaire }}
    </a></h1>


    <p> <a class="btn btn-primary" href="{{route('affaire.edit',affaire)}}"> EDIT</a> </p>
{% endfor %}

{% endblock %}
